<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snoob.gdd.mapper.CoverMapper">
  <resultMap id="BaseResultMap" type="snoob.gdd.model.Cover">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cover_type_name" jdbcType="VARCHAR" property="coverTypeName" />
    <result column="is_active" jdbcType="VARCHAR" property="isActive" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="href" jdbcType="VARCHAR" property="href" />
  </resultMap>

  <!-- 批量删除 -->
  <!--<delete id="customDelete" parameterType="java.util.List">-->
    <!--delete from cover where id in-->
    <!--<foreach close=")" collection="list" index="index" item="id" open="(" separator=",">-->
      <!--#{id}-->
    <!--</foreach>-->
  <!--</delete>-->
</mapper>