<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snoob.gdd.mapper.EmailCodeMapper">
  <resultMap id="BaseResultMap" type="snoob.gdd.model.EmailCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>

  <!-- 批量删除 -->
  <delete id="customDelete" parameterType="java.util.List">
    delete from email_code where id in
    <foreach close=")" collection="list" index="index" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>