<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snoob.gdd.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="snoob.gdd.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="hobby" jdbcType="VARCHAR" property="hobby"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
    </resultMap>

    <!-- 批量删除 -->
    <delete id="customDelete" parameterType="java.util.List">
        delete from user where id in
        <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量添加 -->
    <insert id="customInsert" parameterType="java.util.List">
        insert into user(id, name, sex, phone,email,hobby,province,city,area,address,create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.sex},#{item.phone},#{item.email},#{item.hobby},#{item.province},#{item.city},#{item.area},#{item.address},#{item.createTime})
        </foreach>
    </insert>

</mapper>